<div class="form">
    <div class="group">
        <h1>Validar Registro</h1>
    </div>
    <br><br><br>
    <div class="group">
        <label for="">Ingresar codigo recibido</label>
    </div>
    <div class="group">
        <i class="bi bi-key-fill icon"></i>
        <input class="input" type="number" placeholder="codigo recibido" [(ngModel)]="codigo">
    </div>
    <br><br><br>
    <div class="group">
        <button class="btn btn-primary" (click)="validation()">Validar</button>
    </div>
    <div class="group">
        <a href="" routerLink="/login/signup">Regresar</a>
    </div>
</div>