<div class="container mt-5">
    <h2>Lista usuarios</h2>
    <hr>
    <div class="card">
        <div class="card-header">
            <div class="d-flex justify-content-between">
                <div class="d-flex">
                    <button class="btn btn-primary" data-bs-target="#modalCrear" data-bs-toggle="modal"
                        (click)="clearUsuario()">Agregar
                        Usuario</button>
                </div>
                <div class="d-flex">
                    <input type="text" class="form-control me-2">
                    <button class="btn btn-primary">Buscar</button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Documento</th>
                        <th>Nombre</th>
                        <th>Telefono</th>
                        <th>Email</th>
                        <th>Nacimiento</th>
                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody>
                    @for (item of ListaUsuarios; track $index) {
                    <tr>
                        <td>{{item.id}}</td>
                        <td>{{item.documento}} : {{item.numero}}</td>
                        <td>{{item.nombre}} {{item.apellido}}</td>
                        <td>{{item.telefono}}</td>
                        <td>{{item.email}}</td>
                        <td>{{item.nacimiento | date:'dd-MM-yyyy'}}</td>
                        <td>
                            <a href="" class="btn btn-secondary">Editar</a>
                            <a href="" class="btn btn-secondary mx-2">Detalle</a>
                            <a href="" class="btn btn-secondary">Eliminar</a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="modalCrear">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Crear Usuario</h2>
                <button class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formUsuario">
                    <div class="row mb-3">
                        <div class="col-sm-4">
                            <label for="" class="form-label fw-bold">Documento</label>
                            <select name="" id="" class="form-select" formControlName="documento">
                                @for (documento of ListaDocumentos; track $index) {
                                <option value="{{documento.nombre}}">{{documento.nombre}}</option>
                                }
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <label for="" class="form-label fw-bold">Numero</label>
                            <input type="text" class="form-control" formControlName="numero">
                        </div>
                        <div class="col-sm-4">
                            <label for="" class="form-label fw-bold">Genero</label>
                            <select name="" id="" class="form-select" formControlName="genero">
                                @for (genero of ListaGeneros; track $index) {
                                <option value="{{genero.nombre}}">{{genero.nombre}}</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-6">
                            <label for="" class="form-label fw-bold">Nombre</label>
                            <input type="text" class="form-control" formControlName="nombre">
                        </div>
                        <div class="col-sm-6">
                            <label for="" class="form-label fw-bold">Apellido</label>
                            <input type="text" class="form-control" formControlName="apellido">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-6">
                            <label for="" class="form-label fw-bold">Direccion</label>
                            <input type="text" class="form-control" formControlName="direccion">
                        </div>
                        <div class="col-sm-6">
                            <label for="" class="form-label fw-bold">Email</label>
                            <input type="text" class="form-control" formControlName="email">
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <label for="" class="form-label fw-bold">Telefono</label>
                            <input type="text" class="form-control" formControlName="telefono">
                        </div>
                        <div class="col-sm-6">
                            <label for="" class="form-label fw-bold">Nacimiento</label>
                            <input type="date" class="form-control" formControlName="nacimiento">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="modalCrearClose" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                <button class="btn btn-success" [disabled]="!formUsuario.valid" (click)="crearUsuario()">Crear</button>
            </div>
        </div>
    </div>
</div>