<div class="container mt-5">
    <h2>Lista Apoderados</h2>
    <hr>
    <div class="d-flex justify-content-between">
        <div class="d-flex">
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalCrear"
                (click)="clearApoderado()">Agregar
                Apoderado</button>
        </div>
        <div class="d-flex">
            <input type="text" class="form-control mx-2">
            <button class="btn btn-primary">Buscar</button>
        </div>
    </div>
    <br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Documento</th>
                <th>Nombre</th>
                <th>Telefono</th>
                <th>Relacion</th>
                <th>Accion</th>
            </tr>
        </thead>
        <tbody>
            @for (apoderado of ListaApoderados; track $index) {
            <tr>
                <td>{{apoderado.id}}</td>
                <td>{{apoderado.documento}} : {{apoderado.numero}}</td>
                <td>{{apoderado.nombre}} {{apoderado.apellido}}</td>
                <td>{{apoderado.telefono}}</td>
                <td>{{apoderado.relacion}}</td>
                <td>
                    <a href="" class="btn btn-secondary">Editar</a>
                    <a href="" class="btn btn-secondary mx-2">Detalle</a>
                    <a href="" class="btn btn-secondary">Eliminar</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

<div class="modal fade" id="modalCrear">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Crear Apoderado</h2>
                <button class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formApoderado">
                    <div class="row mb-3">
                        <div class="col-sm-4">
                            <label for="" class="form-label">Documento</label>
                            <select class="form-select" name="" id="" formControlName="documento">
                                @for (documento of ListaDocumentos; track $index) {
                                <option value="{{documento.nombre}}">{{documento.nombre}}</option>
                                }
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <label for="" class="form-label">Numero</label>
                            <input type="text" class="form-control" formControlName="numero">
                        </div>
                        <div class="col-sm-4">
                            <label for="" class="form-label">Relacion</label>
                            <select class="form-select" name="" id="" formControlName="relacion">
                                @for (relacion of ListaRelacion; track $index) {
                                <option value="{{relacion.nombre}}">{{relacion.nombre}}</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-6">
                            <label for="" class="fom-label">Nombre</label>
                            <input type="text" class="form-control" formControlName="nombre">
                        </div>
                        <div class="col-sm-6">
                            <label for="" class="fom-label">Apellido</label>
                            <input type="text" class="form-control" formControlName="apellido">
                        </div>
                        <div class="col-sm-6"></div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm">
                            <label for="" class="fom-label">Direccion</label>
                            <input type="text" class="form-control" formControlName="direccion">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm">
                            <label for="" class="fom-label">Email</label>
                            <input type="text" class="form-control" formControlName="email">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-6">
                            <label for="" class="fom-label">Telefono</label>
                            <input type="text" class="form-control" formControlName="telefono">
                        </div>
                        <div class="col-sm-6">
                            <label for="" class="fom-label">Contraseña</label>
                            <input type="text" class="form-control" formControlName="password">
                        </div>
                        <div class="col-sm-6"></div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm">
                            <label for="" class="fom-label">Nacimiento</label>
                            <input type="date" class="form-control" formControlName="nacimiento">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="modalCrearClose" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                <button class="btn btn-success" (click)="crearApoderado()">Crear</button>
            </div>
        </div>
    </div>
</div>